html {
  font: 16px/1 sans-serif;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  margin: 1rem;
  min-height: calc(100vh - 2rem);
  position: relative;
  word-break: break-word;
}

br + br {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
blockquote,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

pre {
  white-space: pre;
}

center {
  line-height: 2;
}

samp,
kbd,
pre,
code {
  font-family: 'Menlo', 'Andale Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
}

ol,
ul {
  list-style-position: inside;
  padding: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

ol ol,
ul ul {
  box-sizing: border-box;
  padding-left: 1rem;
}

p {
  line-height: 1.75;
  margin: 1rem 0;
}

dl {
  font-size: 0.75rem;
  overflow: hidden;
}

p,
dl {
  max-width: 60rem;
}

dt,
dd {
  box-sizing: border-box;
  float: left;
  line-height: 1.5;
  padding: 0.5rem;
}

dt {
  padding-left: 0;
  text-align: right;
  width: 20%;
}

dd {
  padding-right: 0;
  width: 80%;
}

dt:first-of-type,
dd:first-of-type {
  padding-top: 0;
}

form {
  font-size: 0;
  margin: 2rem 0 0;
}

form a {
  padding: 0 0.5rem;
  text-decoration: none;
}

form a,
form span {
  font-family: 'Menlo', 'Andale Mono', monospace;
  font-size: 0.75rem;
}

form span {
  display: block;
}

input[type=submit] {
  display: none;
}

input[type=text] {
  border: 1px solid #ccc;
  border-width: 0 0 1px;
  box-sizing: border-box;
  color: #999;
  display: block;
  font: 0.875rem/1.25 sans-serif;
  letter-spacing: 1px;
  margin: 0.75rem 0;
  max-width: 100%;
  padding: 0.5rem 0;
  width: 100%;
}

input[type=text]::placeholder {
  color: #ccc;
}

input[type=text]:focus {
  color: #888;
  outline: none;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75rem;
  text-align: left;
}

th {
  font-weight: bold;
}

th a {
  text-decoration: none;
}

th a:hover {
  text-decoration: underline;
}

th,
td {
  box-sizing: border-box;
  padding: 0.5rem;
}

td {
  position: relative;
}

th:first-of-type,
td:first-of-type {
  padding-left: 0;
}

th:last-of-type,
td:last-of-type {
  padding-right: 0;
}

td i {
  font-style: normal;
}

td:first-of-type i {
  font-size: 0.6875rem;
  letter-spacing: 1px;
}

td.error {
  background: #aaf;
}

td.category {
  background: #c00;
  color: #fff;
  font-weight: bold;
}

/* noage: "No commits" */
td.noage {
  color: #999;
}

/* age2: 60*60*24*2 <= age */
td.age2 {
  color: #777;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
td.age1 {
  color: #070;
}

/* age0: age < 60*60*2 */
td.age0 {
  color: #070;
  font-weight: bold;
}

td.list a[href*='tree'],
td.list a[href*='blob'] {
  background-position: center left;
  background-repeat: no-repeat;
  display: block;
  float: left;
  padding-left: 1.25rem;
}

td.list a[href*='tree'] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAENJREFUKBVjYBgIcARo6X8s+AIhx4A0YQO4xMFqGYEkXgXYTASKHSFXIwMTDhMJCo9qxBNEFAUOKMmRCsjRQ6odaOoBmP8M6vNJiBQAAAAASUVORK5CYII=');
}

td.list a[href*='blob'] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAG1JREFUKBXVUEEOgDAIm8aH8FT+5h7CT2Y7w8LB4NzNJh0B2sAoZQEnPC2hoSfgAMUZFE0DBex4M1CkoIEC9nU8xtVYi1AkxsLMBOqItt9x/j2CNJu0uS4aRtGbTzEa/jph6awV18g+HI9F7TdcpjIbviVzHGMAAAAASUVORK5CYII=');
}

td.selflink + td.link {
  padding-left: 0;
}

td.link {
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: 0.5rem;
  white-space: pre;
}

td.link a {
  font-style: italic;
  text-decoration: none;
}

td.link a:hover {
  text-decoration: underline;
}

.page_header {
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.25;
}

.page_header a {
  font-weight: bold;
  text-decoration: none;
}

.page_header a[href="/"]:last-of-type {
  background: #fff;
  margin-right: -100%;
  position: relative;
}

.page_header a[href^="http://git-scm"] {
  display: none;
}

.logo {
  display: none;
  height: 30px;
  margin: 0 0 1rem;
  width: 72px;
}

.page_footer {
  margin-top: auto;
  overflow: hidden;
  padding: 2rem 0 0;
  position: relative;
}

.page_footer_text {
  color: #777;
  line-height: 1.25;
  margin: 0 0 1rem;
  max-width: calc(100% - 2px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.rss_logo {
  background-color: #f60;
  color: #fff;
  display: inline-block;
  float: left;
  font: bold 0.625rem/1 sans-serif;
  padding: 0.375rem 0.125rem;
  text-align: center;
  text-decoration: none;
  width: 2.5rem;
}

.rss_logo:first-child {
  clear: left;
}

.rss_logo:last-child {
  margin-left: 1px;
}

.rss_logo:hover {
  background-color: #e50;
}

.author_date {
  font-family: 'Menlo', 'Andale Mono', monospace;
  font-size: 0.75rem;
}

.author_date a,
.author a {
  text-decoration: none;
}

.author_date img,
.author img {
  vertical-align: middle;
  vertical-align: top;
}

.projsearch {
  box-sizing: border-box;
  margin: 0 0 2rem;
}

.projsearch a {
  display: none;
  letter-spacing: 1px;
  margin: 1rem 0 0;
  text-decoration: none;
}

.projsearch a::after {
  content: "\00a0\25B8";
}

.projsearch a:hover {
  text-decoration: underline;
}

.page_path {
  box-sizing: border-box;
  line-height: 1.25;
  margin: 2rem 0 1rem;
}

.page_path + .page_body {
  margin-top: 0;
}

.readme {
  box-sizing: border-box;
  margin: 1.5rem 0 0.5rem;
  position: relative;
}

.readme p {
  font-family: 'Menlo', 'Andale Mono', monospace;
  font-size: 0.75rem;
}

.readme > p:last-child {
  margin-bottom: 0;
}

.page_body {
  font-size: 2rem;
  margin: 1rem 0;
}

.page_body > br {
  display: none;
}

.page_body > img {
  margin-bottom: 1rem;
}

.page_body .diff,
.page_body .pre,
.page_body .patch {
  line-height: 2;
}

.page_body .patch {
  display: table;
  width: 100%;
}

.page_body .blob {
  display: block;
  margin-bottom: 1rem;
}

.list_head {
  line-height: 2;
}

.page_nav {
  box-sizing: border-box;
  font-family: 'Menlo', 'Andale Mono', monospace;
  line-height: 2;
  margin: 1rem 0 0;
  text-transform: uppercase;
}

.page_nav a {
  text-decoration: none;
  text-transform: none;
}

.page_nav a:hover {
  text-decoration: underline;
}

.log_body {
  font-weight: bold;
  margin: 0.5rem 0 0;
}

.log_body,
.log_link {
  line-height: 1.5;
}

.log_link a {
  font-style: italic;
  margin: 0 0.5rem;
  text-decoration: none;
}

.log_link a:first-of-type {
  margin-left: 0;
}

.log_link a:last-of-type {
  margin-right: 0;
}

.log_link a:hover {
  text-decoration: underline;
}

.log_link + .author_date {
  display: inline-block;
  line-height: 1.5;
}

.log_link + .author_date img {
  display: none;
}

.shortlog,
.search,
.tree,
.history,
.diff_tree,
.grep_search,
.commit_search,
.project_list {
  line-height: 1.5;
}

.object_header tr {
  margin-bottom: 0 !important;
}

.object_header th,
.object_header td {
  vertical-align: top;
}

.object_header td {
  overflow: hidden;
}

.object_header td:first-of-type {
  font-weight: bold;
  text-align: right;
}

.object_header a.list {
  text-decoration: none;
}

.object_header a.list:hover {
  text-decoration: underline;
}

.object_header img.avatar {
  height: 2rem;
  width: 2rem;
}

.projects_list {
  margin: 0.75rem 0 1rem;
}

.projects_list td {
  line-height: 1.25;
}

.projects_list td:first-of-type {
  font-weight: bold;
}

div.title {
  display: none;
}

div.search {
  line-height: 1;
}

div.header {
  width: 100%;
}

div.header + .header {
  margin-top: -0.5rem;
}

div.header + .page_body {
  margin-top: 0;
}

div.header + .page_path {
  margin-top: 0.5rem;
}

div.header a.title {
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.header span.age {
  font-weight: 100;
}

.refs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.refs a {
  font-family: verdana, sans-serif;
  text-decoration: none;
}

.refs span {
  background-color: #fff;
  background-position: 0.125rem center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: 9px;
  font-weight: normal;
  line-height: 1;
  margin-left: 0.4375rem;
  overflow: hidden;
  padding: 0.25rem 0.3125rem;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.refs .ref {
  background-color: #ccf;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGJJREFUKBVjYBiZQBXo7XVA/AmKQWyQGF6gBJR9AcT/gfgZFIPYIDGQHE6wGigDUliFpALEBomB5FAASBAZg2xCByAxZDX/mdBVkMsnyanIlpAdOCBDQEG/HohJig6QxuEGABLOJShapEsQAAAAAElFTkSuQmCC');
  border-color: #aaf;
  padding-left: 1.25rem;
}

.refs .tag {
  background-color: #ffa;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAALlJREFUKBWlkUEKwjAQRYMrdSeuPVlPoFcQtXgqF1WP4kpwIXgE/U86MB1iUvDDJ/mTeWmSpvSnVuLP8lN+9L5pXMtFATWhY6lM/RDqg8iX0Lv35JtSmmkswhwPRZAacCfvCVEGxrrln/BdHdypJIN3vmmjcJXnvpiZG7z1a0eFi1yDF+p5eZB5DZ6q5yRnHwqYX8CxvAxqfTHOgfkFBo+CbBODuRPHa21hzEgzD5G9U22D2ivX+OH6B9VIJNnG1dcqAAAAAElFTkSuQmCC');
  border-color: #fe0;
  padding-left: 1.1875rem;
}

.refs .head {
  background-color: #cfc;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAALlJREFUKBWVkDkOAjEMRUdAzSZR0XAclisicQMqSo7AXtNQst2A7f1gR9EoIPjSSxz7T5xxUfyhEd4NrKD/7bs1xYax+GSsUKgmxTQekt8aigu1vsAZBuDSc5qGugY9We8W+6bb6obioJxRnU5whNBazpyxZ/mDDPqZnLokJ1aYpgbd+IAZqJ3OYg9tiPKC71cqY+hEB4EerYKYQwuy2pH1eWl2WdXI3kDvk3x/n0qrZrQ04rxKnt+PLwPaLdYT7eEBAAAAAElFTkSuQmCC');
  border-color: #afa;
  padding-left: 1rem;
}

.age {
  margin-right: 1rem;
}

.file_status.new {
  color: #070;
}

.file_status.deleted {
  color: #c00;
}

.file_status.moved,
.file_status.mode_chnge {
  color: #777;
}

.file_status.copied {
  color: #00f;
}

.cntrl {
  border: 1px dashed transparent;
  border-color: inherit;
  padding: 0 0.25rem;
}

.match {
  background: #fff;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  line-height: 1;
  padding: 0.125rem 0.25rem;
}

.pre,
.diff,
.patchset {
  font-size: 0.75rem;
}

.pre,
.diff {
  white-space: pre-wrap;
}

.patchset {
  max-width: 100%;
  overflow: auto;
}

.sha1,
.mode,
.diff,
.diff_tree .list,
.pre,
.patchset {
  font-family: 'Menlo', 'Andale Mono', monospace;
}

.sha1 a,
.mode a,
.diff a,
.diff_tree .list a,
.pre a,
.patchset a {
  text-decoration: none;
}

.sha1 a:hover,
.mode a:hover,
.diff a:hover,
.diff_tree .list a:hover,
.pre a:hover,
.patchset a:hover {
  text-decoration: underline;
}

.diff.header a {
  color: #00f;
}

.diff.to_file {
  color: #070;
}

.diff.from_file {
  color: #a00;
}

.marked {
  padding: 0 0.25rem;
}

.rem,
.add {
  box-sizing: border-box;
}

.rem {
  color: #a00;
  background: #fdd;
}

.rem .marked {
  border: 1px dashed #a00;
}

.add {
  color: #070;
  background: #dfd;
}

.add .marked {
  border: 1px dashed #070;
}

.chunk_header {
  color: #909;
}

.chunk_info {
  background: #fef;
}

.chunk_block {
  overflow: hidden;
}

.chunk_block.rem,
.chunk_block.add {
  background: transparent;
}

.chunk_block .old {
  float: left;
  overflow: hidden;
  width: 50%;
}

.chunk_block .old .add,
.chunk_block .old .rem {
  padding-right: 0.25rem;
}

.chunk_block .new {
  margin-left: 50%;
  width: 50%;
}

.chunk_block .new .add,
.chunk_block .new .rem {
  padding-left: 0.25rem;
}

@media all and (max-width: 400px) {
  .tags td,
  .heads td {
    text-align: right;
  }

  .tags td:first-of-type,
  .heads td:first-of-type {
    text-align: left;
  }

  .tags td.selflink,
  .tags td.link,
  .heads td.link {
    display: none;
  }
}

@media all and (max-width: 480px) {
  form {
    display: none;
  }
}

@media all and (max-width: 640px) {
  .logo {
    display: none;
  }

  .refs span {
    display: none;
  }
}

@media all and (max-width: 880px) {
  table {
    table-layout: fixed;
    width: 100%;
  }

  table:not(.tags):not(.heads) th {
    display: none;
  }

  table:not(.tags):not(.heads) tr {
    display: block;
    margin-bottom: 1rem;
  }

  table:not(.tags):not(.heads) tr:last-of-type {
    margin-bottom: 0;
  }

  table:not(.tags):not(.heads) td {
    display: block;
    padding: 0.5rem 0 0;
    text-align: left !important;
  }

  table:not(.tags):not(.heads) td:empty {
    display: none;
  }

  table:not(.tags):not(.heads) td:only-of-type {
    padding-top: 0;
  }

  table.tree td.mode,
  table.tree td.size {
    display: inline-block;
  }

  td.list a[href*='tree'],
  td.list a[href*='blob'] {
    float: none;
  }

  .tags,
  .heads {
    table-layout: fixed;
  }

  .tags td,
  .heads td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tags td.selflink,
  .heads td.selflink {
    text-align: right;
    white-space: normal;
  }

  .tags td.link,
  .heads td.link {
    width: 50%;
    white-space: pre;
  }

  .project_list td:first-of-type a {
    font-weight: bold;
    text-decoration: none;
  }

  .object_header {
    line-height: 1.5;
  }

  .object_header img.avatar {
    vertical-align: middle;
  }
}

@media all and (min-width: 880px) {
  .project_list,
  .shortlog,
  .history,
  .commit_search,
  .tree {
    width: 100%;
  }

  .project_list td:last-of-type,
  .shortlog td:last-of-type,
  .heads td:last-of-type,
  .history td:last-of-type,
  .commit_search td:last-of-type,
  .tree td:last-of-type {
    overflow: visible;
    text-align: right;
  }

  .project_list td:only-of-type,
  .shortlog td:only-of-type,
  .heads td:only-of-type,
  .history td:only-of-type,
  .commit_search td:only-of-type,
  .tree td:only-of-type {
    text-align: left;
  }

  .project_list td:nth-of-type(2) {
    width: 40%;
  }

  .diff_tree td,
  .object_header td {
    overflow: visible;
  }
}

@media all and (min-width: 950px) {
  .project_list td:nth-of-type(2) {
    width: 50%;
  }
}

@media all and (min-width: 1280px) {
  body {
    margin: 2.5rem;
    min-height: calc(100vh - 5rem);
  }
}
